<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Picture Share!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://cdn.hyperdev.com/us-east-1%3A60e6615e-7d9e-47ac-903b-3b4b47372e42%2Flogo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="ejs.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
    <script src="https://literate-sovereign.glitch.me/masonry.js"></script>
    
    <style>
      .a4{background: #d9d9d9;}
    </style>
    <script>
      $(document).ready(function(){
          $('#ics').on('click', function(){
          $('#rest').css('display', 'block');
          $('#rest1').css('display', 'block');
          $('#rest2').css('display', 'block');
          $('#rest25').css('display', 'block');            
          $('#rest3').css('display', 'block');
          $('#ics').css('display', 'none');
          $('#ics2').css('display', 'inline');
          $('#ics2').css('opacity', '1');
        
        })

        $('#ics2').on('click', function(){
          $('#rest').css('display', 'none');
          $('#rest1').css('display', 'none');
          $('#rest2').css('display', 'none');
          $('#rest25').css('display', 'none');
          $('#rest3').css('display', 'none');
          $('#ics').css('display', 'inline');
          $('#ics2').css('display', 'none');          
        }) 
        
   function onResize(){    
if ($(window).width() > 900) {
            $('#ics').css('display', 'none');          
            $('#ics2').css('display', 'none');          
          $('#rest').css('display', 'inline');
          $('#rest1').css('display', 'inline');
          $('#rest2').css('display', 'inline');
          $('#rest25').css('display', 'inline');  
          $('#rest3').css('display', 'none');
}
else {
  
          $('#ics').css('display', 'inline');          
          $('#ics2').css('display', 'none');          
          $('#rest').css('display', 'none');
          $('#rest1').css('display', 'none');
          $('#rest2').css('display', 'none');
          $('#rest25').css('display', 'none');
          $('#rest3').css('display', 'none');
}
    } 
        
        $(window).resize(onResize);

      
      })
    </script>
        <script>
$('.grid').masonry({
  // options...
  itemSelector: '.grid-item',
  columnWidth: 200
});      
    </script>
    <script>
      
    function getMeta(url, event) { 
     var img = new Image();
     img.src = url;

      var num= event.target.id.replace(/\D/g,'')

      img.onload= function(){
      if(img.width>img.height){
       // $('#rest').css('display', 'block');
        var w=250;
        
        var factor= img.width/w;
        var factor2= img.width/(w/img.height);
        
        $('#e'+num).css('width',w)        
        $('#d'+num).css('width',w+10)  
        $('#d'+num).css('height',img.height/factor+35)       
        $('#i'+num).css('width',w)       
        $('#f'+num).css('width',w)       
        
        
      }else{
        var w=250;
        var factor= img.width/w;
        var factor2= img.width/(w/img.height);
        
        $('#e'+num).css('width', w)  
        $('#d'+num).css('width',w+10)       
        $('#d'+num).css('height',img.height/factor+35)
        $('#i'+num).css('width',w)               
        $('#f'+num).css('width',w)       
      }
      
      }
      if(img.width>img.height){
        var w=250;
        
        var factor= img.width/w;
        var factor2= img.width/(w/img.height);
        
        $('#e'+num).css('width',w)        
        $('#d'+num).css('width',w+10)  
        $('#d'+num).css('height',img.height/factor+35)
        $('#i'+num).css('width',w)       
        $('#f'+num).css('width',w) 
        
        
      }else{
        var w=250;
        var factor= img.width/w;
        var factor2= img.width/(w/img.height);
        
        $('#e'+num).css('width', w)  
        $('#d'+num).css('width',w+10)       
        $('#d'+num).css('height',img.height/factor+35)
        $('#i'+num).css('width',w)               
        $('#f'+num).css('width',w)       
        
      } 

    }

    </script>
    <script>
      $(document).ready(function(){
        var myArr= $('#anse').html()
        
        //$('#anse2').html(myArr)
        
        $('#select1').on('change', function(){
          $('#anse2').css('display','none')              
          $('#ul').css('display','block')

          if($('#select1').val()=='0'){
            $('.option1').css('display','none')
            $('#select2').css('display','none')
            $('.option1a').css('display','none')
            $('.option1b').css('display','none')            
            $('#option1a2').css('display','none')
            $('#option1b2').css('display','none')
            $('.lList2').css('display','none')            
            $('.lList3').css('display','none')
            $('.lList4').css('display','none')
                    $('#anse2').html()

          }          
          if($('#select1').val()=='1'){
            $('.option1').css('display','block')
            $('#select2').css('display','block')
            $('.option1a').css('display','none')
            $('.option1b').css('display','none')            
            $('#option1a2').css('display','none')
            $('#option1b2').css('display','none')
            $('.lList3').css('display','none')
            $('.lList4').css('display','none')
                    $('#anse2').html()
            
          }
          if($('#select1').val()=='2'){
            $('.lList3').css('display','block')
            $('.lList2').css('display','none')
            $('.lList4').css('display','none')
            $('#select2').css('display','none')
                    $('#anse2').html()
            
          }
          if($('#select1').val()=='3'){
            $('.lList4').css('display','block')
            $('.lList2').css('display','none')
            $('.lList3').css('display','none')
            $('#select2').css('display','none')
              
              var m=$('#anse').html()
              m=JSON.parse(m)
              var art=m.my;
              
              art=art.sort((a,b)=>b['active']-a['active'])
              $('#anse2').html(art.map((x,i)=>'<p>'+parseInt(i+1)+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x.name+'">@'+x.name+'</a></p>'))
              $('#anse2').css('display','block')
              $('#ul').css('display','none')
            
          }
          
        })
        
        $('#select2').on('change', function(){
              $('#ul').css('display','block')
              $('#anse2').css('display','none')
          
            if($('#select2').val()=='0'){
              $('#ul').css('display','block')
              $('#anse2').css('display','none')
            }
          
            if($('#select2').val()=='1'){
              $('.option1a').css('display','none')
              $('#option1a2').css('display','none')
              $('.option1b').css('display','none')
              $('#option1b2').css('display','none')
              
              var m=$('#anse').html()
              m=JSON.parse(m)
              var art=m.my;
              var nArr=[];
              
              for(var j=0; j<art.length; j++){
                var name=art[j]['name'];
                nArr.push(name)
              }
              
              nArr=nArr.sort();
              
              //$('#anse2').html(nArr)
              $('#anse2').html(nArr.map((x,i)=>'<p>'+parseInt(i+1)+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x+'">@'+x+'</a></p>'))
              $('#anse2').css('display','block')
              $('#ul').css('display','none')
              
            }
            
            if($('#select2').val()=='2'){
              $('.option1a').css('display','none')
              $('#option1a2').css('display','none')
              $('.option1b').css('display','none')
              $('#option1b2').css('display','none')
              
              var m=$('#anse').html()
              m=JSON.parse(m)
              var art=m.my;
              var nArr=[];
              
              for(var j=0; j<art.length; j++){
                var name=art[j]['name'];
                nArr.push(name)
              }
              
              nArr=nArr.sort().reverse();


              //$('#anse2').html(nArr)
              $('#anse2').html(nArr.map((x,i)=>'<p>'+i+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x+'">@'+x+'</a></p>'))
              $('#anse2').css('display','block')
              $('#ul').css('display','none')              
            
            }

            if($('#select2').val()=='3'){
              $('.option1a').css('display','block')
              $('#option1a2').css('display','block')
              $('.option1b').css('display','none')
              $('#option1b2').css('display','none')
              
            
            }
            
            if($('#select2').val()=='4'){
              $('.option1a').css('display','none')
              $('#option1a2').css('display','none')
              $('.option1b').css('display','block')
              $('#option1b2').css('display','block')          
            }
    
        })
        
         $('#select3').on('change', function(){
           
            if($('#select3').val()=='0'){
              $('#ul').css('display','block')
              $('#anse2').css('display','none')
            }
              
            if($('#select3').val()=='1'){
              var m=$('#anse').html()
              m=JSON.parse(m)
              var art=m.my;
              
              art=art.sort((a,b)=>a['date']-b['date'])
              $('#anse2').html(art.map((x,i)=>'<p>'+parseInt(i+1)+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x.name+'">@'+x.name+'</a></p>'))
              $('#anse2').css('display','block')
              $('#ul').css('display','none')
            }
            
            if($('#select3').val()=='2'){
              $('#ul').css('display','none')
              
              var m=$('#anse').html()
              m=JSON.parse(m)
              var art=m.my;
              
              art=art.sort((a,b)=>b['date']-a['date'])
              $('#anse2').html(art.map((x,i)=>'<p>'+parseInt(i+1)+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x.name+'">@'+x.name+'</a></p>'))
              $('#anse2').css('display','block')
              $('#ul').css('display','none')
            }
           
         })
        
        $('#option1a2').on('change', function(){
          
          $('#ul').css('display','none')
              
          var m=$('#anse').html()
          m=JSON.parse(m)
          var art=m.my;
          var nArr=[];
          
          for(var t=0; t<art.length; t++){
            var f= art[t]['name'].split('');
            
            if(f[0]==$('#option1a2').val()){               
              nArr.push(art[t]['name'])
            }
          }
              
          art=art.sort((a,b)=>b['date']-a['date'])
          $('#anse2').html(nArr.map((x,i)=>'<p>'+parseInt(i+1)+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x+'">@'+x+'</a></p>'))
          $('#anse2').css('display','block')
          $('#ul').css('display','none')          
        })
        
        
        $('#option1b2').on('change', function(){
          $('#ul').css('display','none')
          var m=$('#anse').html()
          m=JSON.parse(m)
          var art=m.my;
          var nArr=[];
          
          for(var t=0; t<art.length; t++){
            var f= art[t]['name'];
            var p= $('#option1b2').val();
            
            if(f.match(p)){               
              nArr.push(art[t]['name'])
            }
          }
              
          art=art.sort((a,b)=>b['date']-a['date'])
          $('#anse2').html(nArr.map((x,i)=>'<p>'+parseInt(i+1)+'. <a href="https://literate-sovereign.glitch.me/user/profile.html?user='+x+'">@'+x+'</a></p>'))
          $('#anse2').css('display','block')
          $('#ul').css('display','none')          
        })        
        

      })
    </script>
    <script>
     $(document).ready(function(){ 
       $('.laList').css('opacity', '0')
       $('.grid2').css('opacity', '0')
       
       
     function display(){

       // $('.grid').attr("data-masonry", '{ "itemSelector": ".grid-item", "columnWidth": 275 }')              
   //   $('.grid-item#d0').css('height',50)
var elem = document.querySelector('.grid2');
var msnry = new Masonry( elem, {
  // options
  itemSelector: '.grid-item',
  columnWidth: 275
});

// element argument can be a selector string
//   for an individual element
var msnry = new Masonry( '.grid', {
  // options
});
     $('.laList').css('opacity', '1')
     $('.grid2').css('opacity', '1')       
     $('.spinner').css('display', 'none')
    
     }
       

                
     setTimeout(function(){
       display()
       
     setInterval(function(){
       display()
     },1000)       
       
     },2000)
       
     setTimeout(function(){
       display()
     },4000)       
       
     setTimeout(function(){
       display()
     },6000)
       
     setTimeout(function(){
       display()
     },8000)     
       
       
       
    })
    </script>
    <script>
    $(document).ready(function(){
                 
       var a=0;
       var timeout;
      
        $(window).scroll(function(){
          
    clearTimeout(timeout);  
    timeout = setTimeout(function() {           
         //  if($(document).scrollTop()> $(document).height()-($(window).height()*2)){
           if((($(document).height()- $(document).scrollTop()) <= $(window).height()*2) && ("<%=d0%>">a*10)){
             a++
             //$('.grid').css('height','6000')
             $.ajax({
               type: 'POST',
               url: 'https://literate-sovereign.glitch.me/index/load5',
               data: {round: a},
               dataType: 'html',
               success: function(d){
                 d=JSON.parse(d)
                 $('.grid2').append(d.ans);
     
               //        <%=JSON.stringify({my:arr})%>

                 
    function getMeta2(url, event) {
     var img = new Image();
     img.src = url;
     img.onload= function(){
      var num= event.replace(/\D/g,'')
      var num2= event;
      
      
      if(img.width>img.height){
        var w=250;
        
        var factor= img.width/w;
        var factor2= img.width/(w/img.height);
        
        $('#e'+num2).css('width',w)        
        $('#d'+num2).css('width',w+10)  
        $('#d'+num2).css('height',img.height/factor+35)  
        $('#i'+num2).css('width',w)       
        $('#f'+num2).css('width',w)       
       
        
      }else{
        var w=250;
        var factor= img.width/w;
        var factor2= img.width/(w/img.height);
        
        $('#e'+num2).css('width', w)  
        $('#d'+num2).css('width',w+10)       
        $('#d'+num2).css('height',img.height/factor+35)
        $('#i'+num2).css('width',w)               
        $('#f'+num2).css('width',w)     
        
      }  
    }
    }

                 
       for(var t=0; t<d.ans2.length; t++){
         getMeta2(d.ans2[t]['image'], d.ans2[t]['id'])
       }          
                 

                 
               }
               
             })
           }
      
        }, 50)

        })
                
    })
    </script>
  </head>
  <body>
    <header>
      <div class="nav"> 
      <ul class="d">
        <li class="login" id="lo"><a class="atext" href="https://literate-sovereign.glitch.me/logout"><i class="fa fa-google-plus-square"> </i> Logout</a><i id="ics" class="fa fa-navicon ics"></i><i id="ics2" class="fa fa-navicon ics"></i></li>
                

      </ul>        
      <ul class="m">
        <li class="a1"><img src="https://cdn.hyperdev.com/us-east-1%3A60e6615e-7d9e-47ac-903b-3b4b47372e42%2Flogo.png" alt="" style="height:40px"></li>
        <li class="a2" id="rest"><a href="https://literate-sovereign.glitch.me/user/profile.html"><%= '@'+user %></a></li>
        <li class="a3" id="rest1"><a href="https://literate-sovereign.glitch.me/user/upload.html">Upload</a></li>
        <li class="a4" id="rest2"><a href="https://literate-sovereign.glitch.me/user/users.html">Users</a></li>        
        <li class="a45" id="rest25"><a href="https://literate-sovereign.glitch.me/user/search.html"><i class="fa fa-search"></i> Search</a></li>        
        <li class="a5" id="rest3"><button><i class="fa fa-google-plus-square"></i>
          <a href="https://literate-sovereign.glitch.me/logout">Logout</a>
          </button></li>        
      </ul>
      </div>

    </header>

    <main id="mainUsers">
      <div class="spinner">
        <i class="fa fa-spinner"></i>
        <p class="loading">Loading</p>
      </div>
      
      <h1 id="nom" class="cu">
        Current Users
      </h1>
      <div class="col-xs-12 laList">
        
      
      <div class="col-xs-3 lList">
        <div class="scrollList">
          <p>
            Sort Users
          </p>
          <select id="select1">
            <option value="0"></option>
            <option value="1">Alphabetically</option>
            <option value="2">Date Joined</option>            
            <option value="3">Recent Activity</option>
          </select>
          
          <p class="option1 lList2">
            Options
          </p>         
          <select id="select2">
            <option value="0"></option>
            <option value="1">A-Z</option>
            <option value="2">Z-A</option>
            <option value="3">By First Character</option>
            <option value="4">By Username</option>
          </select>
          
          <p class= "option1a lList2">
            First Character
          </p>
          <input type="text" class="lList2" maxlength="1" id="option1a2">
          
          <p class="option1b lList2">
            Username
          </p>
          <input type="text" class="lList2" id="option1b2">
          
          <p class="option2 lList3">
            Options
          </p>         
          <select id="select3" class="lList3">
            <option value="0"></option>
            <option value="1">Earliest</option>
            <option value="2">Latest</option>
          </select>
          
                     
        </div>

      </div>
      <div class="col-xs-9 rList">
        <div id="anse2">
        </div>
        <div id="anse">
      <%=JSON.stringify({my:arr})%>
        </div>

        <div class="content grid2" id="ul" >
  
      <% for(var i=0; i<arr.length; i++){ %>
       
      <li class="block grid-item uList" id="d<%= i %>" style="width: 260px">
        <div class="blockImg">
          <img src="<%= arr[i]['icon'] %>" onerror="this.src='http://www.greytrix.com/blogs/sageaccpacerp/wp-content/uploads/2012/11/1.-Error-code.bmp'; this.className='badImg2'" id="e<%= i %>" onload="getMeta('<%= arr[i]['icon'] %>',event)">
        </div>
        
        <p class="desc" id="i<%= i %>">
          Username: <a href="https://literate-sovereign.glitch.me/user/profile.html?user=<%= arr[i]['name'] %>">@ <% if(arr[i]['name'].length >14){ %> <%= arr[i]['name'].split('').splice(0,11).join('')+'...';  %><% } %><% if(arr[i]['name'].length <=14){ %><%= arr[i]['name'] %><% } %></a>
        </p>
        
      </li>        
        
      <% } %>
        
        </div>
        
      </div>   
        
      </div>        
    </main>
  </body>
</html>
